.App {
  text-align: center;
  display: flex;
  background-color: rgb(23, 25, 36);
  color: white;
  overflow: hidden; /* Hide scrollbars */
  height: 100vh;
}

.mainpad{
  height: 100vh;
}

.css-dip3t8{
  background-color: rgb(23, 25, 36) !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  overflow: hidden;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  height: 100%;
}

.ps-menu-button:hover{
  background-color: yellow !important;
  color: black !important;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.positiontopright{
  position: absolute;
  top: 30px;
  right: 50px;
  color: rgb(76, 43, 223);
}

.top50{
  margin-top: 90px;
}

.stadium{
  color: white;
  font-size: 15px;
}

.card{
  margin: 5px;
  width: 150px;
  height: 80px;
  color: white;
  font-size: 1rem;
  background-color:rgb(23, 25, 36);
  border-radius: 5px;
}

.card:hover{
  scale: 1.1;
  transition: 0.2s;
}

.flexwrap{
  display: flex;
  flex-wrap: wrap;
}

.displayflex{
  margin-top: 50px
}

.column{
  display: flex;
  flex-direction: column;
}

.MuiPaper-root{
  background-color: rgb(23, 25, 36) !important;
  border-bottom: 1px solid rgb(59, 57, 57);
}

.borderb{
  border-bottom: 1px solid rgb(59, 57, 57);
}

.leaguename{
  color: rgb(59, 57, 57);
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
}

.teamname{
  color: black;
  font-size: 15px;
  font-weight: bold;
}

.teambigname{
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.starttime{
  color: rgb(236, 81, 81);
  font-size: 14px;
}

.divider{
  font-size: 40px !important;
}

.score{
  color: red;
  font-size: 14px;
  
}

.scorebig{
  color: red;
  font-size: 20px;
  font-weight: bold;
}

.teamlogo{
  width: 25px;
  height: 25px;
}

.fakelogo {
  width: 25px;
  height: 25px;
  background-color: cornflowerblue;
  float: left;
}


.title{
  color: rgb(70, 70, 216);
}
.card-title{
  margin: 0;
}

.matche_card{
  border-radius: 5px;
  margin:10px;
  padding: 5px;
  background-color: rgb(33, 37, 50);
  padding: 9px 14px;
}
.matche_card:hover{
  background-color: rgb(56, 61, 78);
  cursor: pointer;
}

.chatitem{
  border-radius: 2px;
  margin: 5px;
  font-size: medium !important;
  text-align: left;
  background-color: rgb(33, 37, 50);
}
.fakechatavatar{
  background-color: blue;
  height: 100%;
  width: 14px;
  height: 10px;
  padding-left: 2px;
  padding-right: 2px;
  margin-top: 8px;
}
.MuiFormLabel-root{
  color: white !important;
}
.MuiInputBase-root{
  color: white !important;
} 
.MuiInputBase-root::before{
  border-bottom: solid 1px white !important;
}
.main{
  height: 100vh;
  overflow: hidden;
}
.username{
  color: white;
}
.menuicon{
  padding-left: 10px;

}
.chat{
  position: sticky;
  top:0;
  background-color: rgb(33, 37, 50);
  text-align: left;
  font-size: 18px;
}
.message{
  overflow-wrap: break-word;
  color: rgb(151, 146, 146);
}

.rightbar{
  z-index: 1;
  border-left: solid 1px rgb(68, 71, 77);
  position: fixed;
  height: 100%;
  width: 200px;
  right: 0;
  background-color: rgb(23, 25, 36) !important;
  padding: 4px;
}

.menubar{
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgb(37, 40, 56);
  text-align: left;
  padding-left: 15px;
  padding-top: 5px;
  height: 37px;
  z-index: 0;
}

.rightpadding{
  margin-right: 200px;
  overflow: auto !important;
  height: calc(100% - 4rem - 37px);
}

.rightpadding::-webkit-scrollbar {
  width: 2px;
}
 
.rightpadding::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}
 
.rightpadding::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


.nopadding{
  margin-right: 0px;
}

.ps-collapsed{
  width:58px;
  max-width: 58px;
}

/* ul{
  list-style-type: disc;
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  list-style-position: inside;
} */

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px 25px;
}

.goalNum {
  border: 1px solid rgb(68, 71, 77);
  border-radius: 9px;
  height: 25px;
  width: 27px;
  background-color: rgb(47, 50, 56);
  text-align: center;
}

.btnDiv {
  background-color: rgb(43, 46, 59);
  cursor: pointer;
  padding: 10px 10px;
  font-size: 12px;
  border-radius: 5px;
  margin: 2px 11px;
}

.resultCard {
  background-color: rgb(33,37,50);
  border-radius: 16px;
}

.tabItem {
  text-transform: lowercase!important;
  color: white!important;
}

.topbar {
  position: sticky;
  top: 0px;
  width: 100%;
}